@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* FORCE DARK THEME 
      These are now the ONLY variables the app knows.
      It will ignore the system's light/dark setting.
    */

    --color-primary: #98aae1;
    --color-tertiary: #61e786;

    /* Text is LIGHT (for dark background) */
    --color-text: #fcf7f8;
    --color-icon: #9ba1a6;

    /* Background is DARK */
    --color-background: #212124;
    --color-surface: #303036;
    --color-border: #2f3336;

    --color-muted: #646667;
  }
}
